
//  =================================
//  === SYMBOL SPECIFIC STYLING ===
//  =================================

.symbol {
	display: block;
	background-color: #fff;
	max-width: 800px;
	margin: 0 auto;

	background-repeat: no-repeat;
	background-position: left top;
	background-size: contain;

	border-bottom: 1px solid #333;
}
	.symbol-title {
		margin-bottom: 0;

		padding-left: 100px;
	}



.symbol-brazil {
	background-image: url('#{$svg-path}/flags/flag-brazil.svg');
}