doctype html
html
	include ../includes/head

	block vars

	body
		.container.home(data-page-type="home")

			- var symbolCounter = 0;
			for symbols in symbolsJSON

				//if the question counter is 0, then output our homepage center content before the next question
				if (symbolCounter === 0)
					section(class="home-header")
						h1.home-header-title
							| #{title}
						p.home-header-content
							| #{pageContent}


				a(class="symbol symbol-#{symbols.name}")
					section
						h2.symbol-title #{symbols.name}

				- symbolCounter++;


			include ../includes/footer

		include ../includes/foot